.dashboardOverview {
  display: flex;
  background-color: var(--card-bg);
  border-radius: var(--border-radius-lg);
  box-shadow: var(--shadow-md);
  padding: var(--spacing-lg);
  gap: var(--spacing-lg);
  align-items: flex-start; 
  max-width: 850px;
}

.healthStatusCardsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  flex-grow: 1;

}


@media (max-width: 1024px) {
  .dashboardOverview {
    flex-direction: column; 
    align-items: center;
    padding: var(--spacing-md);
  }
  .healthStatusCardsContainer {
    width: 100%;
  }
}